.form {
  &-info {
    display: flex;
    width: 400px;
    flex-flow: column;
  }

  &-input {
    padding: 9px;
  }

  &-button {
    background-color: #ccc;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    font-weight: bold;
  }
}